:root {
    --secondary-color: #2b8f92;
    --tertiary-color: #242323;
}

body {
    background-color: rgb(125, 158, 177);
}

header {
    display: flex;
    justify-content: space-between;
    background-color: var(--tertiary-color);;
}

header h1 {
    padding: 5px 15px 5px 100px;
    background-color: var(--secondary-color);
    font-size: 40px;
}

header nav {
    display: flex;
}

header nav ul {
    list-style-type: none;
    display: flex;
    padding-top: 25px;
}

header nav ul li a {
    margin: 10px;
    border-bottom: 3px solid var(--secondary-color);
    padding: 0 10px 0 10px;
    font-size: 24px;
    font-weight: bold;
    color: var(--secondary-color);
    text-decoration: none;
}

.hero {
    background-image: none;
    position: relative;
    padding: 100px;
}

.hero h2 {
    padding: 5px;
    background-color: var(--secondary-color);
    position: absolute;
    right: 200px;
}

.content-section {
    display: flex;
}

.content-section h3 {
    margin-left: 25px;
    font-size: 50px;
    text-align: right;
    padding-right: 15px;
}

.content {
    margin-top: 30px;
    border-left: 5px solid var(--tertiary-color);
    padding-top: 5px;
    padding-left: 10px;
}

.content p {
    font-size: 20px;
}