:root {
    --secondary-color: #2b8f92;
    --tertiary-color: #242323;
}


/* Margins set here so that the header borders the top of the screen but the contact me section doesn't border the bottom */
body {
    margin: 0 0 5px 0;
    background-color: rgb(125, 158, 177);
}

header {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    background-color: var(--tertiary-color);
    width: 100%
}

/*Displays my name in a section seperate from the rest of the header*/

header h1 {
    padding: 5px 15px 5px 100px;
    background-color: var(--secondary-color);
    font-size: 40px;
}

/*sets up a nav for the sections of the website and a fourth for a future resume addition*/
header nav {
    margin: 0;
    display: flex;
}

header nav ul {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    padding-top: 25px;
}

header nav ul li a {
    margin: 10px;
    border-bottom: 3px solid var(--secondary-color);
    padding: 0 10px 0 10px;
    font-size: 1.5vw;
    font-weight: bold;
    color: var(--secondary-color);
    text-decoration: none;
}

.hero {
    background-image: url("../images/hero-image.jpg");
    background-size: cover;
    background-position: center;
    position: relative;
    padding: 100px;
}

.hero h2 {
    padding: 5px;
    background-color: var(--secondary-color);
    position: absolute;
    right: 200px;
}

.content-section {
    display: flex;
}

/*sets the sections titles to be on their own on the left side of the screen and the content on the right*/
.content-section h3 {
    flex: 0 1 10%;
    font-size: 3vw;
    text-align: right;
    padding-right: 15px;
    padding-left: 50px
}

.content {
    flex: 0 0 75%;
    margin-top: 30px;
    margin-left: 20px;
    border-left: 5px solid var(--tertiary-color);
    padding-top: 5px;
    padding-left: 20px;
}

.content p {
    font-size: 20px;
}

/*The images links will appear transparent until the user hovers the link*/
.work div img {
    opacity: .5;
}

.work div img:hover {
    opacity: 1;
}

.main-work {
    position: relative;
}

.other-work {
    position: relative;
}

/*Sets up and positions the labels for the work image links. I think there's a better way to do this as I couldn't modify font sizes using this method.*/
.work-info {
    padding: 0 15px 0 15px;
    position: absolute;
    background: var(--secondary-color);
    z-index: 9999;
}

.main-info {
    top: 70%;
}

.other-info {
    top: 60%;
}

.other-right {
    left: 46.3%;
}

.work-title {
    margin: 10px 0 0 0;
    font-size: 2vw;
}

.work-language {
    margin: 15px 0 5px 0;
}


/*The following is used to make the first work appear larger than the rest.
I failed to find values that made them perfectly line up at all sizes, but this worked for my monitor.*/
.main-work img {
    width: 91%;
    border: 5px solid var(--secondary-color);
}

.other-work img {
    width: 45%;
    border: 5px solid var(--secondary-color);
}

/* Set up for the contact me links at the bottom of the page. */
.content ul {
    flex: 0 0 95%;
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    padding-top: 50px;
    padding-left: 30px;
}

.content ul li a {
    font-size: 40px;
    font-size: 2.5vw;
    text-decoration: none;
    color: var(--tertiary-color);
    border-bottom: 3px solid var(--tertiary-color);
}

/* My initial attempt at media queries. I couldn't get the effects I was going for to work and was running low on time, so I left this as is to focus on other things. */
@media screen and (max-width: 980px) {
    header {
        padding-bottom: 0;
        justify-content: center;
        position: relative;
    }

    header h1 {
        width: 100%;
        text-align: center;
    }

    header nav ul {
        margin-top: 20px;
        width: 100%;
        justify-content: center;
    }

    header nav ul li a {
        font-size: 3vw;
    }
}

@media screen and (max-width: 768px) {
    section {
        padding: 30px 15px;
    }

    .content-section h3 {
        flex: 1 95%;
        text-align: center;
        position: relative;
    }
    
    .content {
        flex: 2 100%;
        text-align: center;
        justify-content: center;
    }
}